* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}

:root {
  /* Colors */
  --blue: #1e90ff;
  --blue-darker: #0d5aa8;
  --white: #ffffff;
  --black: rgb(71, 66, 66);
  --blue-gray: rgba(177, 185, 227);
  --green: rgba(32, 179, 69);

  /* Font size */
  --font-s: 1rem;
  --font-m: 1.8rem;
  --font-l: 2.2rem;
  --font-xl: 2.5rem;
  --font-xxl: 2.8rem;
}